.title-form {
  font-family: "nunito", sans-serif;
}

.user-form input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 4px;
  background: #3b3b47;
  color: #fff;
  font-family: "nunito", sans-serif;
}

.user-form button {
  background-color: #4a4a57;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin: 23px auto 0 auto;
  display: block;
  font-weight: bold;
  font-size: 20px;
  transition: ease-in-out 0.3s;
}

.user-form button:hover {
  background-color: #5c5c6d;
  transform: scale(1.03);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #2d2d39;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  position: relative;
  color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 36px;
  cursor: pointer;
  color: #fff;
}
